<div class="body">
    <form class="form">
        <h1>{{title}}</h1>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>username</mat-label>
            <input matInput placeholder="please input username" [(ngModel)]="user.username" name="username">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput placeholder="please input password" type="password" [(ngModel)]="user.password" name="password">
        </mat-form-field>
        <a mat-button (click)="toLogin()">Login</a>
    </form>
</div>
