<mat-card>
    <mat-card-header>
        <mat-card-title>收支分类</mat-card-title>
        <mat-card-subtitle>展示收支分类</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field class="full-width">
                <mat-label>收支定义</mat-label>
                <mat-select [(ngModel)]="new_in_out_sources.inOutTypeId" name="inOutTypeId">
                    <mat-option *ngFor="let type of in_out_type_list" [value]="type.id">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>&nbsp;
            <mat-form-field class="full-width">
                <mat-label>name</mat-label>
                <input matInput placeholder="请输入名称" [(ngModel)]="new_in_out_sources.name" name="name">
            </mat-form-field>
            <a mat-button (click)="addInOutSources()" color="primary">Add</a>
        </form>
    </mat-card-content>
</mat-card>
<div *ngIf="!hasData">
    <h2>no data!</h2>
</div>
<div *ngIf="hasData">
    <mat-toolbar>
        <mat-toolbar-row>
            <span>收支分类列表</span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<table mat-table [dataSource]="data" class="mat-elevation-z8" *ngIf="hasData">
  
    <!-- Position Column -->
    <ng-container matColumnDef="inOutType">
      <th mat-header-cell *matHeaderCellDef> 分类 </th>
      <td mat-cell *matCellDef="let element"> {{element.inOutType.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>操作</th>
        <td mat-cell *matCellDef="let element">
            <button mat-button (click)="openDeleteDialog(element.id)" color='warn'>删除</button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>